.sidebar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 100vh;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.logo {
  height: 50px;
  font-size: 4px;
  font-weight: bold;
}

.menu {
  flex: 1;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #0b0739;
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.menu-item.active,
.menu-item:hover {
  background-color: #8949ff;
  color: #fff;
  text-decoration: none;
}

.menu-item .icon {
  margin-right: 10px;
  color: #041729;
}

.menu-item span {
  font-size: 14px;
}

.menu-item .icon {
  font-size: 18px;
  color: #8949ff;
}

.menu-item.active .icon,
.menu-item:hover .icon {
  color: #fff;
}

.bottom {
  margin-top: auto;
}

.hamburger {
  display: none;
  position: fixed;
  bottom: 15px;
  left: 15px;
  background: none;
  border: none;
  color: #0b0739;
  font-size: 20px;
  z-index: 1100;
  padding: 5px 10px;
  border-radius: 9999px;
  background-color: var(--primary-bg);
}

@media (max-width: 1125px) {
  .hamburger {
    display: block;
  }

  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    width: 200px;
    height: 100vh;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .bottom {
    margin-top: auto;
    margin-bottom: 35px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
    display: none;
  }

  .sidebar.open + .overlay {
    display: block;
  }
}

@media (max-width: 835px) {
  .sidebar {
    width: 140px;
    padding: 10px;
  }

  .menu-item {
    padding: 5px 10px;
    margin-bottom: 17px;
  }

  .logo-container {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .logo {
    height: 35px;
  }

  .menu-item span {
    font-size: 12px;
  }

  .menu-item .icon {
    font-size: 15px;
  }
}
